<h1>Check out my pins</h1>
<% @pins.each do |pin| %>
<div class="pin">

	<p><img width="190px" src="<%= pin.imageURL %>"></p>
	
	<h4><%= pin.pinName %></h4>
	<p><a href="<%= pin.url %>">Visit Pin's URL</a></p>
	<p><a href="pins/<%= pin.id %>/">More on this pin</a></p>
	</div>
	<% end %>